* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #c9b3a6;
  color: #020000;  
}

.menu {
  height: 100vh;
  overflow: hidden;
  background: #fff;
  cursor: grab;


  &.is-dragging {
    cursor: grabbing;
  }
  
  ul {
    counter-reset: count;
  }

  &--item {
    counter-increment: count;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 120px;
    line-height: 1.2;
    padding: 2rem 0;
    text-align: center;
