* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #c9b3a6;
  color: #020000;  
}

.menu {
  height: 100vh;
  overflow: hidden;
  background: #fff;
  cursor: grab;


  &.is-dragging {
    cursor: grabbing;
  }
  
  ul {
    counter-reset: count;
  }
